body {
    background-image:  images/0001115936_OG.jpg;

}

.borely {

    border: 2px solid ; 
    color: aqua;
    padding: 10px; 
    text-align: justify; 
    width: 300px; 
}
   


.longchamps {

    border: 2px solid ; 
    color: aqua;
    padding: 10px; 
    text-align: justify; 
    width: 300px; 
}

.centenaire {

    border: 2px solid ; 
    color: aqua;
    padding: 10px; 
    text-align: justify; 
    width: 300px; 

}

.Pharo {

    border: 2px solid ; 
    color: aqua;
    padding: 10px; 
    text-align: justify; 
    width: 300px; 

}

.Longchamps {
    
    border: 2px solid ; 
    color: aqua;
    padding: 10px; 
    text-align: justify; 
    width: 300px; 
}

.MHM {
    border: 2px solid ; 
    color: aqua;
    padding: 10px; 
    text-align: justify; 
    width: 300px; 
}

.mumu {
    border: 2px solid ; 
    color: aqua;
    padding: 10px; 
    text-align: justify; 
    width: 300px; 
}

.savon {
    border: 2px solid ; 
    color: aqua;
    padding: 10px; 
    text-align: justify; 
    width: 300px; 
}

