
°{
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    background: linear-gradient(45deg, #ed6681, #4b69ed);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: arial, sans-serif;
}
.container {
    position: relative;
    margin-top: 5%;
}
form {
    background: rgba(255, 255, 255, .3);
    padding: 60px;
    
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    text-align: center;
}
p h1{
    color: white;
    font-weight: 500;
    opacity: .7;
    font-size: 1.4rem;
    margin-bottom: 60PX;
    text-align: 2px 2px 4px rgba(0, 0, 0, .2);

}
input {
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding: 1rem;
    width: 200px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: all .3s;
    margin-bottom: 15px;

}
::placeholder {
    color: white;
}
input:hover,
input[type="nom"]:focus,
input[type="email"]:focus,
input[type="subject"]:focus,
input[type="numéro"]:focus,
input[type="message"]:focus,
input[type="submit"]:focus {
    background: rgba(255, 255, 255, rgba(0, 0, 0, 0.1));
    box-shadow: 4px 4Px 60px 8px rgba(0, 0, 0, rgba(0, 0, 0, .2));

}

input[type="button"] {
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    width: 150px;
}
.drop {
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    position: absolute;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
    box-shadow: 10px 10px 60px -8px rgb(0, 0, 0, .2);

}
.drop-1 {
    height: 80px; width: 80px;
    top: -20px; left: -40px;
    z-index: -1;
}
.drop-2 {
    height: 80px; width: 80px;
    bottom: -30px; right: 10px;
}
.drop-3 {
    height: 100px; width: 100px;
    bottom: 120px; right: -50px;

}
.drop-4 {
    height: 120px; width: 120px;
    top: -60px; right: -50px;
    
}
.drop-5 {
    height: 60px; width: 60px;
    bottom: 170px; left: 90px;
    z-index: -1;
}
.classic-header {
    color: #333;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    animation: fadeInDown 1s ease-out;
    margin: 0px; 
}
.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main-menu li {
    margin-right: 80px;
    animation:fadeIn 0.5s ease-out;
}
.main-menu li:hover {
    transform: scale(1.1);
}
.main-menu a {
    text-decoration: none;
    color: #0e0d0d;
    display:flex;
    align-items: center;
    font-family: fantasy;
}
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    margin-right: 10px;
    padding: 5px;
    align-items: end;
}

.search-bar button {
    padding: 8px;
    background-color: #020303;
    color: #fff;
    cursor: pointer;
    border: none;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Vos styles existants */

@media screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Ajustez la taille de la police ou d'autres styles selon vos besoins */
    }

    .container {
        margin-top: 10%; /* Ajustez la marge selon vos besoins pour une meilleure disposition sur des écrans plus petits */
    }

    form {
        padding: 30px; /* Ajustez la taille du rembourrage pour une meilleure mise en page sur des écrans plus petits */
    }

    input {
        width: 100%; /* Assurez-vous que les champs de saisie prennent la largeur complète de leur conteneur */
        margin-bottom: 10px; /* Ajoutez un espacement entre les champs de saisie pour une meilleure lisibilité */
    }

    /* Ajoutez d'autres styles pour des écrans plus petits selon vos besoins */
}



 



